<!doctype html>
        <html ng-app="gameOfLife">
<head>
<title>Game of life</title>
    <link href="css/gameOfLife.css" rel="stylesheet">
</head>
<body>



<div ng-controller="GameOfLifeCntl">

    <span>height</span><input type="text" ng-model="height"/>
    <span>width</span> <input type="text" ng-model="width"/>
    <button ng-click="newGame()">Create table</button>
    <button ng-click="next()">Next</button>

    <button ng-click="start()">Start</button>
    <button ng-click="stop()">Stop</button>

    <table id="board">
        <tr ng-repeat="row in board">
            <!--toggle (row, cell)-->
            <td ng-repeat="cell in row" ng-click="toggle($parent.$index, $index)">
                <span class="chooseCell" ng-show="cell">G</span>
            </td>
        </tr>
    </table>

    <p ng-show="history.length > 0">Steps</p>
    <table class="history">
        <tr>
            <td ng-repeat="step in history" ng-click="$parent.step($index)">{{$index}}</td>
        </tr>
    </table>

</div>

<!-- connect scripts -->
<script src="js/vendor/angular.min.js"></script>
<script src="js/gameOfLife.js"></script>

</body>
        </html>